<div class="navbar-fixed">
    <nav>
        <div class="container">
            <a class="brand-logo" style="left:30%;" href="/">myWishList</a>
            <a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>
    <div class="search-bar container">
    <div class="row">
        <div class="col s12" style="margin-bottom:0;margin-top:10px;">
            <form id="todo-form" ng-submit="addItem(todo)">
                <div class="input-field">
                    <input placeholder="Add Title" required="required" autocomplete="off" ng-model="product.title" style="width:50%; height:45px;">
                     <input placeholder="Add Price" required="required" autocomplete="off" ng-model="product.price" style="width: 50%;height: 45px;position: absolute;top: 0px;right: 0px;">
                    <i class="material-icons" style="top: 3px;right: 4px;color: #fff;position: absolute;font-size: 36px;cursor: pointer;" ng-click="addItem(product)">add_box</i>
                    <p ng-if="message" style="position: absolute;top: 23px;left: 74%;font-weight: 900;background-color: rgba(129, 52, 199, 0.89);color: white;padding: 10px;border-radius: 8px;">{{ message }}</p>
                </div>
            </form>
        </div>
    </div>
</div>
    <div class="container">
	    <div class="row" style="margin-bottom:0;">
	        <div class="col s12" style="margin-bottom:0;">
	        		<ul style="display:inline-flex;">
		        		<li>
		        			<ul style="display:inline-flex;margin-right:10px;">
		        				<li>
		        					<div id="completed" style="background-color:#4caf50;width:20px;height:20px;border-radius:4px;margin-right:5px;"></div>
		        				</li>
		        				<li>I Wish</li>
		        			</ul>
		        		</li>
		        		<li>
		        			<ul style="display:inline-flex;">	        					
		        				<li>
		        					<div id="progress" style="background-color:#0c6ec2;width:20px;height:20px;border-radius:4px;margin-right:5px;"></div>
		        				</li>
		        				<li>Bought It</li>
		        			</ul>
		        		<li>
	        		</ul>
	        	</div>
	        </div>
	    </div>
	</div>
    <div class="container">
    <div class="row">
        <div class="col s12">
			<ul style="width:100%;">
			<li ng-if="empty" style="display:flex;padding-top:10px;" class="nobox"><p class="validation">No results found.</p></li>
			<li ng-if="albums" style="display:flex;padding-top:10px;" class="nobox"><p class="numberof">Showing results.</p></li>

			<div id="grid" style="float:left;margin-right:20px;">
				<li id="album-item" ng-repeat="item in items" style="list-style:none;margin-bottom:10px;padding-bottom:10px;" class="album-item">
					<div style="position:relative;width:100%;max-width:334px;min-width:334px;background-color:#4caf50;padding:20px;color: #fff;border-radius: 15px;">
						<label class="title">{{ item.title }}</label>
						<label class="description"><p style="margin: 0;">{{ item.brand }}</p></label>
						<label class="description"><p style="margin: 0;">${{ item.price }}</p></label>
						<input type="hidden" value="{{ item._id }}" ng-model="item._id" class="input-desc" />
						<i class="material-icons" style="position: absolute;top: 12px;left: 298px;cursor:pointer;" ng-click="delete(item)">highlight_off</i>
					</div>
				</li>
			
			</div>
		</ul>
	</div>
</div>
</div>